<!-- login.html -->
<!DOCTYPE html>
<html>
{% block head %}

{% endblock %}


<body>
<div class="container">
  <canvas>
  </canvas>
{% block main %}
<div id="a" class="centered-div" >
  <h1>登录</h1>
  <div class="login-form">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      <div class="form-submit">
        <button type="submit">登录</button>
      </div>
    </form>
  </div>

   <div class="register-link">
   <p>还没有账户？<a href="/register">点击这里注册</a></p>
  </div>
  <div class="register-link">
    <a href="/aboutme">Privacy</a>
   </div>
</div>
{% endblock %}

</div>
</body>

{%load static %}
<script src="{% static 'js/space.js' %}"></script>


</html>
